* {
  margin: 0;
  padding: 0;
}
.how_to_sell_container {
  margin-top: 3rem;
  background-color: #177280;
  height: 500px;
}
.how_to_sell_container h2 {
  padding-top: 2rem;
  color: white;
  font-size: 2rem;
  text-align: center;
  font-family: 'Signika Negative', sans-serif;
  text-transform: capitalize;
  font-weight: 500;
}
.num {
  color: #fff;
  font-size: 1.2rem;
  text-align: justify;
  padding: 7px;
  font-family: 'Signika Negative', sans-serif;
  font-weight: 500;
}
.sell_container {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.sell_container div {
  display: flex;
}
/* .sell_one {
  grid-column: auto;
  border: #000 2px solid;
  margin: 2rem;
} */
.sell {
  grid-column: auto;
  border: #000 2px solid;
  margin: 2rem;
}

.sell_container .number {
  font-size: 4rem;
  color: #fff;
  padding: 20px;
  background-color: #000;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
